.smalltext {
  font-size: 60px;
  font-weight: 200px;
}

.bigtext {
  font-size: 75px;
  font-weight: 1200px;
}

.responsive {
  font-size: 50px;
  flex-direction: row;
}

@media only screen and (max-width: 780px) {
  .responsive {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1070px) {
  .smalltext {
    font-size: 45px;
  }

  .bigtext {
    font-size: 60px;
    font-weight: 800px;
  }
  .responsive {
    font-size: 40px;
  }
}
