---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ProjectsCards from '../components/ProjectsCards.astro';
import Stats from '../components/Stats.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <section
        class="flex h-screen w-full justify-center items-center flex-col gap-2"
      >
        <h1
          class="text-3xl md:text-6xl"
          data-sal="slide-up"
          data-sal-delay="300"
        >
          Hi, I'm <br />
          <span
            data-sal="slide-up"
            data-sal-delay="400"
            class="text-6xl md:text-9xl bg-gradient-to-l from-green-400 to-green-600 bg-clip-text text-transparent font-black"
          >
            zalnaRs
          </span><span data-sal="slide-up" data-sal-delay="500">!</span>
        </h1>
      </section>
      <section
        class="flex h-[90vh] w-full justify-center items-center flex-col gap-2"
      >
        <h1
          class="text-2xl md:text-6xl font-black"
          data-sal="slide-up"
          data-sal-delay="300"
        >
          I make stuff when I'm bored.
        </h1>
      </section>
      <ProjectsCards limit />
      <Stats />
    </main>
    <Footer />
  </body>
</html>
