---

---

<p class="inline-block gap-1 m-2 md:m-0">
  This work by <span property="cc:attributionName">zalnaRs</span> is licensed under
  <a
    class="inline-flex gap-1 underline hover:text-green-400"
    href="http://creativecommons.org/licenses/by/4.0"
    target="_blank"
    rel="license noopener noreferrer"
  >
    CC BY 4.0
  </a>
</p>
