<button
  class="w-full group-focus-within:bg-green-200 group-hover:bg-green-200 group-focus-within:translate-y-2 hover:-translate-y-1 dark:group-hover:bg-green-400 dark:group-focus-within:bg-green-500 rounded p-2 px-4 h-20 transition-all"
>
  <span class="flex items-center justify-center gap-2 text-2xl font-black">
    <span
      class="text-2xl group-hover:font-black transition-all bg-green-400 dark:bg-green-500 rounded-full h-8 w-8 text-center flex justify-center items-center"
    >
      <img src="/img/icons/download.svg" alt="" /> 
    </span>
    Download
  </span>
</button>
