---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props

const { pathname } = Astro.url;
const normalizePath = (value: string) => (value === '/' ? '/' : value.replace(/\/+$/, ''));
const isActive = normalizePath(pathname) === normalizePath(href?.toString() ?? '');
---

<li>
<a
  href={href}
  class={`hover:bg-lime-500/25 transition-all p-2 rounded px-4 ${
    isActive ? 'font-bold bg-lime-500/75' : ''
  }`}
  {...props}
>
  <slot />
</a></li>
