---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
---

<header class="sticky top-4 left-0 m-4 z-10">
  <nav
    class="shadow backdrop-blur dark:bg-gray-900/25 bg-gray-50/25 flex flex-col md:flex-row gap-4 md:gap-2 justify-between items-center p-2 px-4 border rounded"
  >
    <h2>
      <a
        class="text-black dark:text-white hover:bg-gradient-to-l hover:to-lime-500 hover:font-bold"
        href="/"
      >
        {SITE_TITLE}
      </a>
    </h2>
      <div
        class="flex items-center justify-center w-full"
      >
      <div class="hidden md:flex flex-1"></div>
        <ul class="flex items-center gap-2">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/projects">
            Projects
          </HeaderLink><!--
          <HeaderLink href="/blog">Blog</HeaderLink> -->
        </ul>
      <div class="hidden md:flex flex-1"></div>
      <SocialLinks />
    </div>
  </nav>
</header>
