---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
---

<header class="sticky top-4 left-0 m-4 z-10">
  <nav
    class="shadow backdrop-blur dark:bg-zinc-900/25 bg-zinc-50/25 flex gap-2 justify-between items-center p-2 px-4 border rounded-full"
  >
    <h2>
      <a
        class="text-black dark:text-white hover:bg-gradient-to-l hover:from-green-400 hover:to-green-600 hover:bg-clip-text hover:text-transparent hover:font-black"
        href="/"
      >
        {SITE_TITLE}
      </a>
    </h2>
    <div class="group w-full flex justify-end md:justify-between items-center">
      <button
        class="group-focus-within:opacity-0 duration-0 flex md:hidden group-focus-within:border rounded-full group-focus-within:bg-green-400 transition-all p-1 px-4"
        >Toggle Menu</button
      >
      <div
        class="flex-col justify-end group-focus-within:flex hidden md:flex items-center md:flex-row md:justify-between w-full"
      >
        <div></div>
        <ul class="flex items-center gap-2">
          <HeaderLink href="/">
            Home
          </HeaderLink><!--
          <HeaderLink href="/#projects">Projects</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink> -->
        </ul>

        <SocialLinks />
      </div>
    </div>
  </nav>
</header>
