---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props

const { pathname } = Astro.url;
const isActive = href === pathname; //||
    //  href === pathname.replace(/\/$/, '') ||
//pathname.endsWith(href?.toString() ?? '');
---

<a
  href={href}
  class={`p-3 hover:bg-green-400/25 transition-all md:p-1 rounded-full md:px-4 ${
    isActive ? 'font-bold bg-green-400/75' : ''
  }`}
  {...props}
>
  <slot />
</a>
