---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';
---

<header>
  <nav class="flex gap-2 justify-between items-center p-2 px-4 border-b">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex gap-2 items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <SocialLinks />
  </nav>
</header>
