---
import type { projects } from '../consts';
const { project, i } = Astro.props as {
  project: (typeof projects)[0];
  i: number;
};
---

<li>
<a
  href={project.href}
  target="_blank"
  data-sal="slide-up"
  data-sal-delay={300 + i * 100}
>
  <article
    class={`transition-all hover:bg-gray-200 dark:hover:bg-gray-500 dark:bg-gray-700 shadow p-2 rounded border outline-transparent hover:shadow-md active:bg-gray-300 dark:active:bg-gray-900`}
  >
    <h3 class="font-black text-4xl">{project.title}</h3>
    <p class="text-lg">{project.description}</p>
  </article>
  </a>
</li>
