---
import { projects } from '../consts';
import ProjectCard from './ProjectCard.astro';
import Section from './Section.astro';

const { limit } = Astro.props;
---

<Section id="projects" title="Projects">
  <ul
    class={`p-4 gap-4 ${
      limit
        ? 'm-auto flex gap-2 pl-4 items-center w-full whitespace-nowrap overflow-x-auto overflow-y-hidden h-30 pr-6'
        : 'grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3'
    }`}
  >
    {
      projects
        .slice(0, limit ? 2 : projects.length)
        .map((project, i) => <ProjectCard i={i} project={project} />)
    }
    {
      limit && (
        <a
          href={'/projects'}
          data-sal="slide-up"
          data-sal-delay={300 + 3 * 100}
        >
          <article
            class={`group w-full h-30 flex-1 flex justify-center items-center transition-all hover:bg-zinc-100 dark:hover:bg-zinc-500 dark:bg-zinc-700 shadow p-2 rounded border outline-transparent hover:shadow-md active:bg-zinc-100 dark:active:bg-zinc-900`}
          >
            <h3 class="text-4xl font-black flex items-center gap-2 px-4">
              See all
              <span class="text-4xl group-hover:font-black flex items-center justify-center">
              <img src="/img/icons/open_in_new.svg" alt="" />
          </span>
            </h3>
          </article>
        </a>
      )
    }
  </ul>
</Section>
