---
const socials = [
  /* {
    label: 'Mastodon',
    href: 'https://mastodon',
  }, */
  {
    label: 'Github',
    href: 'https://github.com/zalnaRs',
  },
];
---

<div class="flex gap-2 items-center">
  {
    socials.map(({ href, label }) => (
      <a
        href={href}
        target="_blank"
        class="p-2 md:p-0 hover:underline hover:text-green-600"
      >
        {label}
      </a>
    ))
  }
</div>
