---
import { Image } from 'astro:assets';
import Section from './Section.astro';
---

<Section id="stats" title="Stats">
    <Image
      src="https://github-readme-stats.vercel.app/api?username=zalnaRs&theme=gruvbox&show_icons=true&show=reviews,discussions_started,discussions_answered,prs_merged,prs_merged_percentage)"
      alt="github stats graph"
      data-sal="fade"
      data-sal-delay="200"
      loading={'lazy'}
      width="467"
      height="295"
    />
  <sub
    class="text-base text-center pl-4 mt-4"
    data-sal="fade"
    data-sal-delay="400"
  >
    Thank you, <a
      href="https://github.com/anuraghazra/github-readme-stats"
      class="underline hover:text-green-400"
    >Github Readme Stats by anuraghazra</a> for this api!</sub
  >
</Section>
