---
import Section from './Section.astro';
---

<Section id="stats" title="Stats">
  <ul
    class="m-auto flex gap-2 pl-4 items-center w-full whitespace-nowrap overflow-x-auto"
  >
    <img
      src="https://github-readme-stats.vercel.app/api?username=zalnaRs&theme=transparent&show_icons=true&show=reviews,discussions_started,discussions_answered,prs_merged,prs_merged_percentage)"
      class="h-64"
      alt="github stats graph"
      data-sal="fade"
      data-sal-delay="200"
    />
    <img
      src="https://github-readme-stats.vercel.app/api/top-langs/?username=zalnaRs&langs_count=8&theme=transparent&layout=compact"
      class="h-64"
      alt="my top languages graph"
      data-sal="fade"
      data-sal-delay="300"
    />
  </ul>
  <sub
    class="text-base text-center pl-4 mt-4"
    data-sal="fade"
    data-sal-delay="400"
  >
    Thanks you, <a
      href="https://github.com/anuraghazra/github-readme-stats"
      class="underline hover:text-green-400"
    >
      Github Readme Stats by anuraghazra
    </a> for this api!</sub
  >
</Section>
