---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main class="p-8">
      <p class="prose prose-zinc">
        <article>
          <h1>Privacy Policy</h1>
          <p>
            This app doesn't collect any information about the user. There is no
            third-party services in the application.
          </p>
        </article>
        <hr />
        <article>
          <h1>Contact</h1>
          <p>
            If you have any question contact me at
            <a href="mailto:rszalna0@gmail.com">rszalna0@gmail.com</a>
          </p>
        </article>
      </p>
    </main>

    <Footer />
  </body>
</html>
