---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import ProjectsCards from '../../components/ProjectsCards.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main class="p-8">
      <ProjectsCards />
    </main>

    <ul>
      <li class="mt-32 m-8 list-none">
        <a
          href="/projects/general-privacy"
          target="_blank"
          class="underline hover:no-underline hover:font-semibold"
        >
          General Privacy Policy
        </a>
      </li>
      <li class="m-8 list-none">
        <a
          href="/projects/general-terms"
          target="_blank"
          class="underline hover:no-underline hover:font-semibold"
        >
          General Terms and Conditions
        </a>
      </li>
    </ul>

    <Footer />
  </body>
</html>
