footer {
  text-align: center;
  padding: 12px;
  background-color: rgb(250, 250, 250);
}

footer img {
  opacity: 0.6;
}

footer img:hover {
  opacity: 1;
}

footer a {
  opacity: 0.6;
  text-decoration: none;
  color: black;
}

footer a:hover {
  opacity: 1;
  text-decoration: underline;
}
